* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EEE0C9;
    font-family: sans-serif;
}

.wrapper {
    margin-top: 10px;
}

.wrapper .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .logo img {
    width: 200px;
    height: 180px;
    display: flex;
}

.intro {
    background: white;
    margin: 5px;
    width: 600px;
    height: 400px;
    padding: 30px;
    line-height: 1.4;
    color: #8e8b8b;
    position: relative;
    left: 30%;
    flex-wrap: wrap;
}

.wrapper .intro .intro_text {
    margin-left: 20%;
}

.wrapper .intro h2 {
    margin-top: 3px;
    font-size: 25px;
    padding-top: 30px;
}

.wrapper .intro h3 {
    margin-top: 0;
    float: right;
    font-size: 15px;
    color: #2B2B2B;
    padding-left: 30px;
}

.myself {
    position: relative;
    transform: translate(-60%, -98%);
    padding: 5px;
    width: 250px;
    height: 330px;
    margin-top: 20px;
    border: 2px solid #2B2B2B;
}

.intro .intro_text p {
    font-size: 15px;
    padding: 30px;
    color: #776B5D;
}

.wrapper h2 {
    font-size: 30px;
    margin-bottom: 3%;
    margin-top: 10%;
    text-align: center;
    color: black;
}

.project {
    display: flex;
    text-align: auto;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.project .pro {
    background: white;
    margin: 5px;
    margin-bottom: 50px;
    width: 350px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
    box-shadow: 0 0 10px 0;
}


.project .pro h2 {
    color: #2B2B2B;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.project .pro img {
    width: 310px;
    height: 160px;
}

.project .pro p {
    padding-bottom: 30px;
    color: #2B2B2B;
}

.button_container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button_container a {
    text-decoration: none;
    color: #2B2B2B;
    border: 1px solid #2B2B2B;
    font-size: 13px;
    padding: 6px;
}

.fa-link,
.fa-github {
    padding-right: 6px;
}

.button_container a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/*1px solid rgb(235, 224, 224);*/


/*MEDIA QUERY---------------------*/